@charset "utf-8";
/* CSS Document */
/*nav ul li a font style*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
/*main line font*/
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
*
{
	box-sizing: border-box;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-transform: capitalize;
}

body
{
	margin: 0;
	padding: 0;
	background-image: url(images/bg2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

header
{
	background-color: #000000;
	color: #FFFFFF;
	padding: 8px 0px 6px 40px;
	height: 48px;
}

header h1
{
	display: inline;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-weight: 400;
	font-size: 32px;
	float: left;
	margin-top: 0px;
	margin-right: 10px;
	letter-spacing: 1px;
}

nav ul
{
	display: inline;
	padding: 0px;
	float: right;
}

nav ul li
{
	display: inline-block;
	list-style-type: none;
	color: #FFFFFF;
	float: left;
	margin-right: 12px;
}

nav ul li a
{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
	font: 'Raleway', sans-serif;
	letter-spacing: 1px;
	transition: all ease-in-out 250ms;
}

nav ul li a:hover
{
	color: #B9B9B9;
}

#nav
{
	font-family: 'Montserrat', sans-serif;
}

.container
{
	background-color: #F54144;
	height: 3px;
	width: 100%;
	height: 100%;
}

.mainsub
{
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 9% 5% 0% 55%;
	font-size: 22px;
	color: #F9E52A;
}

.maindesc
{
	font-family: 'Raleway', sans-serif;
	margin: 0.5% 0% 0% 55%;
	font-size: 60px;
	color: #FFFFFF;
	background-color: rgba(0,0,0,0.4);
	display: inline-block;
}

button
{
	margin: 0% 0% 0% 55%;
	background: rgba(248,221,44,1.00);
	color: #000000;
	border: none;
	height: 50px;
	font-size: 1.4em;
	padding: 0 1em;
	cursor: pointer;
	outline: none;
	font-family: 'Raleway', sans-serif;
}






/*for responsive*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.container{max-width: 100%;}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
	.container{width: 100%;}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
	.container{width: 100%;}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.container{width: 100%;}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.container{max-width: 100%;}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.container{width: 100%;}
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	.container{width: 100%;}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	.container{width: 100%;}
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
	.container{width: 100%;}
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
	.container{max-width: 100%;}
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	.container{width: 100%;}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	.container{width: 100%;}
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	.container{width: 100%;}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	.container{width: 100%;}
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	.container{max-width: 100%;}
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	.container{width: 100%;}
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	.container{width: 100%;}
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	.container{width: 100%;}
	
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	.container{width: 100%;}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	.container{max-width: 100%;}
}
/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
	.container{width: 100%;}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
	.container{width: 100%;}
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
	.container{width: 100%;}
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
	.container{max-width: 100%;}
}